services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_BASE_URL=${NEXT_PUBLIC_BASE_URL}
        - NEXT_PUBLIC_FAST_URL=${NEXT_PUBLIC_FAST_URL}
    env_file:
      - ./frontend/.env
    ports:
      - "3000:3000"
    depends_on:
      - nodejs-server
      - fastapi-server
    container_name: finsight-frontend
    networks:
      - finsight-net

  nodejs-server:
    build:
      context: ./nodejs-server
      dockerfile: Dockerfile
    env_file:
      - ./nodejs-server/.env
    ports:
      - "5000:5000"
    container_name: finsight-nodejs-server
    networks:
      - finsight-net
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/health || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 5

  fastapi-server:
    build:
      context: ./fastapi-server
      dockerfile: Dockerfile
    env_file:
      - ./fastapi-server/.env
    ports:
      - "8000:8000"
    depends_on:
      - nodejs-server
    container_name: finsight-fastapi-server
    networks:
      - finsight-net
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/health || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 5

networks:
  finsight-net:
    driver: bridge
